<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
	<!-- 拡張設定 -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<!-- 出力先 -->
	<targets async="true">
		<target xsi:type="File" name="databasedebuglog"
				fileName="${aspnet-appbasepath}/logs/database-debug-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />
		<target xsi:type="File" name="databaselog"
				fileName="${aspnet-appbasepath}/logs/database-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />
		<target xsi:type="File" name="apilog"
				fileName="${aspnet-appbasepath}/logs/api-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}|url: ${aspnet-request-url:IncludeQueryString=true}" />
		<target xsi:type="File" name="systemlog"
				fileName="${aspnet-appbasepath}/logs/system-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}|url: ${aspnet-request-url:IncludeQueryString=true}" />
	</targets>
	<!-- ログレベル設定 -->
	<rules>
		<logger name="System*" final="true" />
		<logger name="Microsoft*" final="true" />
		
		<logger name="*Repository.*" level="Debug" writeTo="databasedebuglog" final="true" />
		<logger name="*Repository.*" minlevel="Info" writeTo="databaselog" final="true" />
		<logger name="*Controllers.*" minlevel="Info" writeTo="apilog" final="true" />
		
		<logger name="*" minlevel="Info" writeTo="systemlog" />
	</rules>
</nlog>